/*
body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
*/


  /*Session*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color:inherit;
}
li{
list-style-type: none;
}
body{
  margin:0;
  padding:0;
}
header{
  padding:10px;
  background-color: rgba(137, 43, 226, 0.355);
}
h1{
  text-align:center;
  color:rgb(255, 255, 255);
}
main{
  padding:10px;
}
.year p{
  text-align: center;
  font-size:40px;
}
table{
  margin:5px;
}
.controllers form{
margin:auto;
padding:5px;
display:flex;
align-items:center;
justify-content: center;
gap:15px;
}
.controllers form button{
  padding:8px;
  outline:none;
  border:2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(137, 43, 226, 1);
  color:white;
  border-radius:10px;
}

.controllers form button:hover{
  background-color: rgb(182, 125, 235);
}
.controllers form input{
  padding:10px;
  font-family:Arial, Helvetica, sans-serif;
  outline:none;
  border:none;
  border-radius:10px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.523);
}

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.33);
  }
  
  td, th {
    border: 1px solid rgba(137, 43, 226, 0.2);
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(137, 43, 226, 0.2);
  }

  footer{
    height:fit-content;
    padding:20px;
    background-color: rgba(137, 43, 226, 0.8);
    color:white;

  }
  footer p{
    text-align: center;
    margin:10px;
  }
footer ul{

  margin:10px;
 display:flex;
 align-items:center;
 justify-content: space-around;
 gap:15px;
}
footer ul li{
  color:rgb(221, 221, 221);
}
footer ul li:hover{
  color:rgb(255, 255, 255);
}